<!DOCTYPE html>
<html>
<head>
	<title>Matildo Final Exam</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
	<div class="navbar-fixed">
	    <nav class="blue darken-1">
	      <div class="nav-wrapper">
	        <center><h4><strong>Welcome to Mat's Furious Collection</strong></h4></center>
	        <!-- <ul class="right hide-on-med-and-down">
	          <li><a href="/about" class="waves-effect waves-light btn" align="right">Photos</a></li>
	        </ul> -->
	      </div>
	    </nav>
	</div>
	<ul class="movies">
		<li id="app"></li>
		<li id="app2"></li>
		<li id="app3"></li>
		<li id="app4"></li>
		<li id="app5"></li>
	</ul>
	<!-- <div id="app"></div>
	<div id="app2"></div>
	<div id="app3"></div>
	<div id="app4"></div>
	<div id="app5"></div> -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>


</body>
</html>