<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Mat Furious Collection</title>
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">

	
</head>
<body>

	<!-- Navbar-->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Furious</a>
			</div> <!-- Navbar Header-->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#quote">Quotes</a>
					<li><a href="#gallery">Gallery</a>
					<li><a href="#contactus">ContactUs</a>
				</ul>
			</div> <!-- -->
		</div> <!-- End Container-->
	</nav> <!-- End Navbar-->

	<!-- Jumbotron-->
	<div class="jumbotron">
		<div style="" class="container text-center">
			<h1>Fast and the Furious</h1>
			<h3>For more info visit the official Fast and the Furious Movie API</h3>
			<div class="btn-group">
				<a href="/app.html" class="btn btn-lg btn-info">Visit Official Furious API</a>
				
			</div>
		</div> <!-- End container -->
	</div> <!-- End Jumbotron -->


	<div class="container">
		<section>
			<div class="page-header" id="quote">
				<h2>Quotes<small> Check out the Awesome Qoutes</small></h2>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<blockquote>
						<p><strong>"Life’s simple. You make choices and you don’t look back."</strong></p>
						<footer>Han Lue | The Fast and The Furious: Tokyo Drift (2006)</footer>
						<i><p>One of the more heartfelt lines of the franchise, Han gives wisdom to a misguided Sean Boswell.</p></i>
					</blockquote>
				</div>
				<div class="col-lg-4">
					<blockquote>
						<p><strong>"Ask any racer. Any real racer. It don't matter if you win by an inch or a mile. Winning's winning."</strong></p>
						<footer>Dom Toretto | The Fast and The Furious (2001)</footer>
						<i><p>Dom is an alpha, the greatest of all time and he made sure this n00b, Brian, knew it well.</p></i>
					</blockquote>
				</div>
				<div class="col-lg-4">
					<blockquote>
						<p><strong>"Still a buster"</strong></p>
						<footer>Dom Toretto | Fast and Furious (2009)</footer>
						<i><p>Before The Fast and The Furious, the first thing that came to my mind when I heard "buster" was a dog. Now "buster" is forever branded as Brian O'Conner's nickname.</p></i>
					</blockquote>
				</div>
			</div>
		</section>
	</div> <!-- End container -->

	<!-- call to action-->	
	<section>
		<div class="well">
			<div class="container text-center">
				<h3>Subscribe for more free stuff</h3>
				<p>Enter your Name and Email</p>

				<form action="" class="form-inline">
					<div class="form-group">
						<label for="subscription">Subscribe</label>
						<input type="text" class="form-control" id="subscription" placeholder="Your Name">
					</div>
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="text" class="form-control" id="email" placeholder="Enter your email">
					</div>
					<button type="submit" class="btn btn-default">Subscribe</button>
					<hr>
				</form>
			</div> <!-- end container -->
		</div> <!-- end well -->
	</section> <!-- Call to action -->

	<!-- Gallery -->
	<div class="container">
		<section>
			<div class="page-header" id="gallery">
				<h2>Gallery. <small>Check out the Awesome Gallery</small></h2>
			</div>
			<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#screenshot-carousel" data-slide-to="1"></li>
					<li data-target="#screenshot-carousel" data-slide-to="2"></li>
					<li data-target="#screenshot-carousel" data-slide-to="3"></li>
					<li data-target="#screenshot-carousel" data-slide-to="4"></li>
					<li data-target="#screenshot-carousel" data-slide-to="5"></li>
					<li data-target="#screenshot-carousel" data-slide-to="6"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="img/fastfive.jpg" alt="Text of the image">
						<div class="carousel-caption">
							<h3>Fast Five</h3>
						</div>
					</div>
					<div class="item">
						<img src="img/fastfurious.jpg" alt="Text of the image">
						<div class="carousel-caption">
							<h3>Fast and the Furious</h3>
						</div>
					</div>
					<div class="item">
						<img src="img/furious6.jpg" alt="Text of the image">
						<div class="carousel-caption">
							<h3>Fast and the Furious 6</h3>
						</div>
					</div>
					<div class="item">
						<img src="img/furious7.jpg" alt="Text of the image">
						<div class="carousel-caption">
							<h3>Furious 7</h3>
						</div>
					</div>
					<div class="item">
						<img src="img/tokyodrift.jpg" alt="Text of the image">
						<div class="carousel-caption">
							<h3>Fast and the Furious: Tokyo Drift</h3>
						</div>
					</div>
					<div class="item">
						<img src="img/flip.jpg" alt="Text of the image">
						<div class="carousel-caption">
							<h3>A flip car</h3>
						</div>
					</div>
					<div class="item">
						<img src="img/2fast2furious.jpg" alt="Text of the image">
						<div class="carousel-caption">
							<h3>2 Fast 2 Furious</h3>
						</div>
					</div>
				</div> <!-- end carousel inner -->
				<a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div> <!-- end carousel -->
		</section>
	</div>

	<!-- ContactUS-->
	<div class="container">
		<section>
			<div class="page.header" id="contactus">
				<h2>ContactUs. <small>Contact us for more.</small></h2>
			</div> <!-- end page header -->

			<div class="row">
				<div class="col-lg-4">
					<p>Send us feedback, or contact us from the email below</p>
					<address>
						<strong>Email Add</strong></br>
						dlastgamer18@gmail.com
					</address>
				</div>
				<div class="col-lg-8">
					<form action="" class="form-horizontal">
						<div class="form-group">
							<label for="user-name" class="col-lg-2 control-label">Name</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="user-name" placeholder="Enter your name">
							</div>
						</div> <!-- End form group -->
						<div class="form-group">
							<label for="user-email" class="col-lg-2 control-label">Email</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="user-email" placeholder="Enter your email address">
							</div>
						</div> <!-- End form group -->
						<div class="form-group">
							<label for="user-name" class="col-lg-2 control-label">Your website</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="user-name" placeholder="If you have any..">
							</div>
						</div> <!-- End form group -->
						<div class="form-group">
							<label for="user-name" class="col-lg-2 control-label">Feedback</label>
							<div class="col-lg-10">
								<textarea name="user-message" id="user-message" class="form-control" cols="20" rows="10" placeholder="Enter your feedback"></textarea>
							</div>
						</div> <!-- End form group -->
						<div class="form-group">
							<div class="col-lg-10">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div> <!-- end of row -->
		</section>
	</div>



	<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
	
</body>
</html>